global:
  scrape_interval: 5s

  external_labels:
    monitor: "monitor"

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]

  - job_name: "http"
    static_configs:
      - targets: ["localhost:2112"]

  - job_name: "grafana"
    static_configs:
      - targets: ["localhost:3000"]
